API_CONNECTION_STRING=Server=host.docker.internal,1433;Database=HS_DB_DELIVERY_SERVICE;Persist Security Info=False;User ID=sa;Password=CHANGE_ME;Encrypt=False;Connection Timeout=30;
JWT_SIGNING_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARACTERS